:root{
    --cyan: hsl(185, 75%, 39%);
    --desaturated_blue: hsl(229, 23%, 23%);
    --grayish_blue: hsl(227, 10%, 46%);
    --gray: hsl(0, 0%, 59%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
   	min-height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
	background: var(--cyan);
	background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
	background-position: bottom 50vh right 50vw, top 50vh left 50vw;
	background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem; 
    font-weight: 400;
    margin: 0.5rem; 
}


h2{
    color: var(--desaturated_blue);
}

main{
    max-width: 20rem;
    background-color:white;;
    border-radius: 20px;
    overflow:hidden;
}

.card_image {
    display: flex; 
    justify-content: center;
    margin-top: -3.5rem; 

}
.card_image img {
    border-radius: 50%;
    border: 5px solid white;  
}
.card_personal_data{
    text-align: center;
    padding: 0.5rem; 
}

.card_personal_name{
    font-weight: 700;
}

p, .age{
    color: var(--gray);
    font-weight: 400;
}

.london{
    margin-top: 10px;
    margin-bottom: 30px;
}

.hr{
    color: var(--grey);
}

.stats-list {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    padding: 1.44444rem 1rem;
}

.stats-list > * {
    list-style-type: none;
    position: relative;
}

.stats-list:before {
    content: '';
    height: 1px;
    background: #969696;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.stats-list-item {
    color: #6a6f81;
    text-align: center;
    margin: 0.33333rem;
}

.list_item {
    gap: 1rem; 
}

.stat-number,
.stat-label {
  display: block;
}

.stat-number {
    font-size: 1rem;
    font-weight: 700;
    color: #2d3248;
  }
  
.stat-label {
    font-size: 0.66667rem;
    margin-top: 0.33333rem;
    letter-spacing: 1px;
}

  

